@font-face{
  font-family: "Amatic SC";
  src: url('./assets/fonts/Amatic_SC/AmaticSC-Bold.ttf')
}

@font-face{
  font-family: 'YanoneKaffeesatz';
  font-weight: normal;
  src: url('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf')
}

@font-face{
  font-family: 'YanoneKaffeesatz';
  font-weight: 500;
  src: url('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Medium.ttf')
}

@font-face{
  font-family: 'YanoneKaffeesat';
  font-weight: 600;
  src: url('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf')
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
